.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.search-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-input {
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: 3px solid #32e17c;
    border-radius: 15px;
    height: 40px;
    line-height: 30px;
    font-size: 18px;
    width: 300px;
    padding: 5px 10px 5px 50px;
    transition: .3s;
}

input:focus {
    box-shadow: 0 0 8px 0 #32e17c;
    outline: none;
}

.icon {
    position: absolute;
    right: 15px;
    font-size: 20px;
    color: #08a84b;
}